{
	# acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
	# debug
	email hashhar_dev@outlook.com
}

# Usage: proxy-host <subdomain> <target>
# Proxies <subdomain>.nas.hashhar.com AND <subdomain>.nas.ts.hashhar.com to <target>
(proxy-host) {
	@{args.0} {
		# Multiple host matchers are OR'ed together
		host {args.0}.nas.hashhar.com {args.0}.nas.ts.hashhar.com
	}
	reverse_proxy @{args.0} {args.1}
}

# over LAN
*.nas.hashhar.com, nas.hashhar.com,
# over Tailscale subnet router
*.nas.ts.hashhar.com, nas.ts.hashhar.com {
	log

	tls {
		dns cloudflare {env.CF_API_TOKEN}
		resolvers 1.1.1.1
	}

	# The regex is guaranteed to match the first subdomain since the host can only ever
	# be <xyz>.nas.hashhar.com or <xyz>.nas.ts.hashhar.com but never
	# <xyz>.foo.nas.hashhar.com due to how wildcard domains work
	map {host} {known} {
		~(plex)\..* "yes"
		~(qbittorrent)\..* "yes"
		~(syncthing)\..* "yes"

		default "no"
	}

	route {
		@unknown expression `{known} == "no"`
		respond @unknown "No service available at {host}" 404

		import proxy-host "plex" "http://plex:{$PLEX_PORT}"
		import proxy-host "qbittorrent" "http://qbittorrent:{$QBITTORRENT_PORT}"
		# syncthing is using host networking so we connect to the host itself
		import proxy-host "syncthing" "http://{$HOST_ADDRESS}:{$SYNCTHING_PORT}"
	}

	metrics /metrics
}
